body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.indexRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appNameContainer {
    position: relative;
    margin-bottom: 60px;
}

.appHeading {
    font-size: 2.5rem;
    font-weight: 400;
    display: inline;
}

.cloudIcon {
    position: absolute;
    left: -70px;
    top: -45px;
}

.sunIcon {
    position: absolute;
    right: -70px;
    bottom: -35px;
}

.citySearchForm {
    width: fit-content;

    margin-bottom: 70px;
}

.inputSubmitWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.citySearchForm .searchSubmitButton {
    background-color: var(--lightBlue);
    border: none;
    outline: none;

    width: 34px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 7px;

    border-radius: 3px;
}

.citySearchForm .searchSubmitButton:hover {
    cursor: pointer;
}

.citySearchForm .searchSubmitButton:active {
    scale: 0.95;
}

.citySearchForm .searchIcon {
    margin: 3px;
    width: 20px;
    height: 20px;
}

.citySearchForm .searchInput {
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    outline: none;

    padding-right: 70px;

    color: var(--white);
}

.citySearchForm .searchFormUnderline {
    height: 1px;
    width: 100%;
    background-color: var(--green);
}

/* weather card ------- */

.weatherCard {
    width: 280px;
    height: 324px;
    background-color: var(--pastelBlue);
    border-radius: 25px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

.weatherCard .temperatureIconWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature .temperatureNumber {
    font-size: 2.5rem;
    font-weight: bold;
}

.temperature .celcius {
    font-size: 1.85rem;
    font-weight: bold;
    margin-left: 10px;
}

.weatherCard .weatherIcon {
    width: 67px;
    aspect-ratio: 1;
}

.weatherCard .shortDescription {
    color: var(--secondaryWhite);
    font-size: 1.25rem;
    height: 100%;
}

.weatherCard .weatherCardCity {
    font-size: 1.875rem;
    font-weight: bold;
}

/* weather card ------- */
